<%- include("header") -%> 
    <div class="box" id="heading">
        <h1><%= list_title %></h1>
    </div>
    <div class="box">
        <% todo_items.forEach(todo_item => { %>
            <form action="/completed" method="post">
                <div class="item">
                    <input type="checkbox" name="checkbox" value="<%= todo_item._id %>" onChange="this.form.submit()">
                    <input type="hidden" name="list" value="<%= list_title %>">
                    <p><%= todo_item.name %></p>
                </div>
            </form>
        <% }); %>
        <form class="item" action="/" method="post">
            <input type="text" name="new_item" placeholder="New Item" autocomplete="off" autofocus required>
            <button type="submit" name="list" value="<%= list_title %>">+</button>
        </form>
    </div>
<%- include("footer") -%>